* {
    margin:0px;
    font-family: Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
}

.photo {
    background: url("img/jordan-whitfield-BhfE1IgcsA8-unsplash.jpg");
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-size: cover;
    background-position: 67% 75%;
    left:350px;
    top: -50px;
}

.name, .photo {
    position: relative;
}

.name {
    width: fit-content;
    margin: 40px;
    left: 30px;
    top: 30px;
    font-size: 15px;
}

